
.entry-list {}

table.entry {
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0 1px 15px 1px rgba(39,39,39,.1);
}

table.entry tbody.credit tr:first-child td {
  border-top: solid 2px gray;
}

table.entry tbody.debit td.title,
table.entry tbody.credit td.title {
  vertical-align: top;
  font-weight: bold;
}

table.entry th {
  border: 1px solid #a0a0a0;
  background: #e9e9e4;
  color: #000000;  
}

table.entry td, table.entry tr {
  padding: .5em;
  border: 1px solid #ddd;
}

table.entry tr {
 /* padding: .4em; */
  background: #fbfbfb;
}

table.entry tr:hover {
  background-color: rgba(0,0,0,.05);
}

table.entry td > input:first-child,
table.entry td > select:first-child {
  box-sizing: border-box;
  width: 100%;
  margin: 0;
}
table.entry td.title {
  width: 3em;
}
table.entry td.account-number {
  width: 4em;
}
table.entry td.account-name {
  width: auto;
}
table.entry td.account-name > span.empty::before,
table.entry td.account-name > span.invalid::before {
  content: '\2190\a0'; /* &larr; + &nbsp; */
}
table.entry td.account-name > span.empty {
  color: gray;
}
table.entry td.account-name > span.invalid {
  color: red;
}
table.entry td.invoice-type {
  width: 7em;
}
table.entry td.plus-minus {
  width: 3em;
}
table.entry td.amount-debit,
table.entry td.amount-credit {
  width: 5em;
}
table.entry td.controls {
  width: 1em;
}
table.entry td.amount-debit > input,
table.entry td.amount-credit > input {
  text-align: right;
}

table.entry tfoot th.total-label,
table.entry tfoot th.total-debit,
table.entry tfoot th.total-credit {
  text-align: right;
}

table.entry tfoot th {
  border: 1px solid #a0a0a0;
}

table.entry th.controls {
  padding: 0;
  text-align: center;
}
table.entry th.controls button {
  appearance: none;
  padding: 0;
  border: none;
  background: transparent;
  font-family: 'H5P';
  font-size: 2em;
  cursor: pointer;
}

div#question {}
div#solution {}

button#add-entry {
  float: right;
  margin: 0 0 .5em;
}
button#show-solution {}

table.entry th.controls button.delete-entry::before {
  content: "\e890";
}
table.entry:only-child th.controls button.delete-entry {
  display: none;
}
