
button.add-journal-item {}

.journal-entry {
  padding: 1em .5em;
}

.journal-entry-list {
  padding: 1em .5em;
}

table.journal-item {
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0 1px 15px 1px rgba(39,39,39,.1);
}

table.journal-item tbody.credit tr:first-child td {
  border-top: solid 2px gray;
}

table.journal-item tbody.debit td.title,
table.journal-item tbody.credit td.title {
  vertical-align: top;
  font-weight: bold;
}

table.journal-item th{
  border: 1px solid #a0a0a0;
  background: #e9e9e4;
  color: #000000;  
}

table.journal-item td, table.journal-item tr {
  padding: .5em 1.25em .5em .5em;
  border: 1px solid #ddd;
}

table.journal-item tr {
 /* padding: .4em; */
  background: #fbfbfb;
}

table.journal-item tr:hover {
  background-color: rgba(0,0,0,.05);
}

table.journal-item td > input:first-child,
table.journal-item td > select:first-child {
  box-sizing: border-box;
  width: 100%;
  margin: 0;
}
table.journal-item td.title {
  width: 3em;
}
table.journal-item td.account-number {
  width: 4em;
}
table.journal-item td.account-name {
  width: auto;
}
table.journal-item td.account-name > span.empty::before,
table.journal-item td.account-name > span.invalid::before {
  content: '\2190\a0'; /* &larr; + &nbsp; */
}
table.journal-item td.account-name > span.empty {
  color: gray;
}
table.journal-item td.account-name > span.invalid {
  color: red;
}
table.journal-item td.invoice-type {
  width: 7em;
}
table.journal-item td.plus-minus {
  width: 3em;
}
table.journal-item td.amount-debit,
table.journal-item td.amount-credit {
  width: 5em;
}
table.journal-item td.amount-debit > input,
table.journal-item td.amount-credit > input {
  text-align: right;
}

table.journal-item tfoot th.total-label,
table.journal-item tfoot th.total-debit,
table.journal-item tfoot th.total-credit {
  text-align: right;
}

table.journal-item tfoot th{
  border: 1px solid #a0a0a0;
}
